@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Content/Images/banner-films.jpg"  height="100"/>
        </div>
    </div>
    <marquee>
        Trending movies this months &emsp;&emsp;&emsp;     Today:  @String.Format("{0:D}", DateTime.Now)    
    </marquee>
    <div class="row">
        <div class="col-md-4" id="pic0">
            <img src="~/Content/Images/b3d9557eda4f2d8b432800de05b18c9d.jpg" class="img-responsive" height="100"/>
        </div>
        <div class="col-md-4" id="pic1">
            <img src="~/Content/Images/Action.jpg" class="img-responsive" height="100" />
        </div>
        <div class="col-md-4" id="pic2">
            <img src="~/Content/Images/x-men-apocalypse-movie-poster-banner-1366x768.jpg" class="img-responsive" height="100" />         
        </div>
        <div class="col-md-4" id="pic3" style="display:none">
            <img src="~/Content/Images/images.jpg" class="img-responsive" height="100" />
        </div>
        <div class="col-md-4" id="pic4" style="display:none">
            <img src="~/Content/Images/In_The_Poster_Mobile_Banner_-_Personalized_Movie_Poster_33709a9e-63ba-43c4-9770-3ab112786ba9_1600x.jpg" class="img-responsive" height="100" />
        </div>
        <div class="col-md-4" id="pic5" style="display:none">
            <img src="~/Content/Images/unnamed.jpg" class="img-responsive" height="100" />
        </div>
    </div>
    <div class="row" style="text-align:left">
        <h1>75% off</h1>
        <p class="para">
            Get upto 70% off on bollywood movies and upto on hollywood movies. this
            is limited time offer for new customers. First Come and find enjoy free
            movies of your choice at lowest rate. Also you qualify for lucky draw of
            wining Audi.
        </p>
    </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/Images/unnamed.jpg" class="img-responsive" height="200" />
            </div>
            <div class="col-md-6">
                <img src="~/Content/Images/top-10-movies-under-red-chillies-entertainment-banner.jpg" class="img-responsive" height="250" />
            </div>
        </div>
    </div>
